<h1 class='page-title'>Table of Contents</h1>
	<%= paginate @contents %><br>
	<table>
		<tr>
			<th>
				Ticker Symbol
			</th>
			<th>
				Future Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<% the_ticker = c.asset.symbol + c.month + c.year.to_s %>
			<td><%= the_ticker %></td>
			<% the_name = c.asset.name + ' ' + Ofdp::Application::MONTH_NAMES[c.month] + ' ' + c.year.to_s %>
			<td><%= the_name %></td>
			<td><%= the_ticker + ' future contract closing price in $USD; ' + Ofdp::Application::EXCHANGE_NAMES[c.asset.exchange] %></td>
			<td><%= link_to future_url(c),future_url(c) %></td>
		</tr>
		<% end %>
	</table>