<%= link_to "Home",root_path %><br>
<br>
<div id='futures-data-selection'>
	Ticker:
	<select class='ticker'>
		<option value='none'>Unselected</option>
		<% @ticker_options.each do |option|%>
		<option value='<%= option %>' <%= 'selected' if option == @ticker_selected %>><%= option%></option>
		<% end %>
	</select>
	<br>
	Month:
	<select class='month'>
		<option value='none'>Unselected</option>
		<% @month_options.each do |option|%>
		<option value='<%= option %>' <%= 'selected' if option == @month_selected %>><%= option%></option>
		<% end %>
	</select>
	<br>
	Year:
	<select class='year'>
		<option value='none'>Unselected</option>
		<% @year_options.each do |option|%>
		<option value='<%= option %>' <%= 'selected' if option == @year_selected %>><%= option%></option>
		<% end %>
	</select>
	<br>
	Exchange:
	<select class='exchange'>
		<option value='none'>Unselected</option>
		<% @exchange_options.each do |option|%>
		<option value='<%= option %>' <%= 'selected' if option == @exchange_selected %>><%= option%></option>
		<% end %>
	</select>
	<br>
	<br>
</div>
<%= link_to "Reset Form",futures_path %>
<% if !@data.nil? %>
	<% if @data.length > 0 %>
	<table>
		<tr>
			<th>Date</th><th>Open</th><th>High</th><th>Low</th><th>Settle</th><th>Volume</th><th>Interest</th>
		</tr>
	<% @data.order("dt DESC").each do |row|%>
		<tr>
			<td><%= row.dt.to_s %></td>
			<td><%= row.open.to_s %></td>
			<td><%= row.high.to_s %></td>
			<td><%= row.low.to_s %></td>
			<td><%= row.settle.to_s %></td>
			<td><%= row.volume.to_s %></td>
			<td><%= row.interest.to_s %></td>
		</tr>
	<% end %>
	</table>
	<% else %>
	<br><br>No data matches query.
	<% end %>
<% end %>

<script>
$(document).ready(function() {
  $('#futures-data-selection select').change(function() {
    var path = '<%= futures_path%>';
		path = path + '?ticker=' + $('select.ticker option:selected').val();
		path = path + '&month=' + $('select.month option:selected').val();
		path = path + '&year=' + $('select.year option:selected').val();
		path = path + '&exchange=' + $('select.exchange option:selected').val();
    window.location = path;
  });
});
</script>