Futures Contracts | <%= link_to 'Continuous Futures Contracts', cfcs_path %> | <%= link_to 'Commitment of Traders', cots_url %>
<h1 class='page-title'>Futures Contracts</h1>
	<%= paginate @contents if !params[:all] %><br>
	<table>
		<tr>
			<th>
				Dataset Code
			</th>
			<th>
				Future Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<% the_ticker = c.asset.symbol + c.month + c.year.to_s %>
			<td>FUTURE.<%= the_ticker %></td>
			<% the_name = c.asset.name.gsub('Futures','') + ' Futures, ' + Ofdp::Application::MONTH_NAMES[c.month] + ' ' + c.year.to_s + ', ' + the_ticker + ', ' + Ofdp::Application::EXCHANGE_NAMES[c.asset.exchange] %>
			<td><%= the_name %></td>
			<td><%= the_name %></td>
			<td><%= link_to future_url(c),future_url(c) %></td>
		</tr>
		<% end %>
	</table>