<h1 class='page-title'>Data</h1>
		<%= link_to 'Table of Contents', futures_path %>
		<h3><%= @the_future.asset.symbol + @the_future.month + @the_future.year.to_s %></h3>
		<table>
			<tr>
				<th>Date</th><th>Open</th><th>High</th><th>Low</th><th>Settle</th><th>Volume</th><th>Interest</th>
			</tr>
			<% @the_future.future_data_rows.order("date DESC").each do |row|%>
			<tr>
				<td><%= row.date.to_s %></td>
				<td><%= row.open.to_s %></td>
				<td><%= row.high.to_s %></td>
				<td><%= row.low.to_s %></td>
				<td><%= row.settle.to_s %></td>
				<td><%= row.volume.to_s %></td>
				<td><%= row.interest.to_s %></td>
			</tr>
			<% end %>
		</table>
