<%= link_to "Home",root_path %><br>
<%= link_to "Data Selector",futures_path %><br>
<h1>Table of Contents</h1>
<% @tickers.each_index do |i| %>
<%= @tickers[i]%> | <%= @names[i]%> | <%= @descriptions[i]%> | <%= @urls[i]%> <br>
<% end %>