<div class='container'>
	<%= render 'shared/header' %>
<div class='page-content'>
	<h1 class='page-title'>Table of Contents</h1>
	<%= link_to 'Data Selector', futures_path %><br><br>
	<%= paginate @contents %><br>
	<table border='1'>
		<tr>
			<th>
				Ticker Symbol
			</th>
			<th>
				Future Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<% the_ticker = c.ticker + c.month + c.year %>
			<td><%= the_ticker %></td>
			<% the_name = TickerSymbol.where("symbol = '#{c.ticker}'").where("exchange = '#{c.exchange}'").first.name + ' ' +
	      Ofdp::Application::MONTH_NAMES[c.month] + ' ' + c.year + ' ' + '(' + c.ticker + c.month + c.year + ')' %>
			<td><%= the_name %></td>
			<td><%= 'Future Contract: ' + (/\s\(/).match(the_name).pre_match + ' Ticker: ' + the_ticker + ' Exchange: ' + c.exchange %></td>
			<% the_url = futures_url + '?ticker=' + c.ticker + '&month=' + c.month + '&year=' + c.year + '&exchange=' + c.exchange %>
			<td><%= link_to the_url, the_url%></td>
		</tr>
		<% end %>
	</table>
</div>
<div class='footer'></div>
</div>