<h1 class='page-title'>Table of Contents</h1>
	<%= paginate @contents if !params[:all] %><br>
	<table>
		<tr>
			<th>
				Dataset Code
			</th>
			<th>
				Dataset Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<td><%= c.metal.name.gsub(/\s/,'').upcase + '.' + c.id.to_s %></td>
			<% if c.metal.source == 'lme' %>
				<td><%= 'LME ' + c.metal.name + ' Price: ' + c.name %></td>
				<% dataset_name = c.name.downcase[0] == 'd' ? c.name : c.name.downcase %>
				<td><%= "Historical " + dataset_name + ' ' + c.metal.name.downcase + ' price; London Metal Exchange (LME). Prices are given in $USD/Tonne.' %></td>
			<% elsif c.name[0] == 'L' %>
				<td><%= 'LBMA ' + c.metal.name + ' Price: ' + c.name %></td>
				<td><%= 'LBMA ' + c.metal.name + ' Price: ' + c.name + ". London Bullion Market Association (LBMA). Fixing levels are set per troy ounce." %></td>
			<% else %>
				<% if c.metal.name == 'Gold' %>
					<td><%= 'LBMA ' + c.metal.name + ' ' + c.name + ' (GOFO)'%></td>
				<% else %>
					<td><%= 'LBMA ' + c.metal.name + ' ' + c.name + ' (SIFO)'%></td>
				<% end %>
				<% if c.metal.name == 'Gold' %>
					<td><%= "Gold forward rates (GOFO), in percentages; London Bullion Market Association (LBMA). LIBOR difference included." %></td>
				<% else %>
					<td><%= "Silver forward rates (SIFO), in percentages; London Bullion Market Association (LBMA). LIBOR difference included." %></td>
				<% end %>
			<% end %>
			<td><%= link_to metal_price_url(c),metal_price_url(c) %></td>
		</tr>
		<% end %>
	</table>