<div class='container'>
	<%= render 'shared/header' %>
<div class='page-content'>
	<h1 class='page-title'>Table of Contents</h1>
	<%= paginate @contents %><br>
	<table>
		<tr>
			<th>
				Dataset Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<% if c.metal.source == 'lme' %>
			<td><%= c.metal.name + ' Price: ' + c.name %></td>
			<% dataset_name = c.name.downcase[0] == 'd' ? c.name : c.name.downcase %>
			<td><%= "Historical " + dataset_name + ' ' + c.metal.name.downcase + ' price; London Metal Exchange (LME). Prices are given in $USD/Tonne.' %></td>
			<% elsif c.name[0] == 'L' %>
			<td><%= c.metal.name + ' Price: ' + c.name %></td>
			<td><%= c.name + ' ' + c.metal.name.downcase + " price; London Bullion Market Association (LBMA). Fixing levels are set per troy ounce." %></td>
			<% else %>
			<td><%= c.metal.name + ' ' + c.name %></td>
				<% if c.metal.name == 'Gold' %>
				<td><%= "Gold forward rates (GOFO), in percentages; London Bullion Market Association (LBMA). LIBOR difference included." %></td>
				<% else %>
				<td><%= "Silver forward rates (SIFO), in percentages; London Bullion Market Association (LBMA). These rates are purely indicative and are not intended to be used as benchmarks for any transactions. LIBOR difference included." %></td>
				<% end %>
			<% end %>
			<td><%= link_to metal_price_url(c),metal_price_url(c) %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class='footer'></div>
</div>