<div class='container'>
	<%= render 'shared/header' %>
<div class='page-content'>
	<h1 class='page-title'>Table of Contents</h1>
	<%= paginate @contents %><br>
	<table>
		<tr>
			<th>
				Symbol
			</th>
			<th>
				Name
			</th>
			<th>
				Description
			</th>
			<th>
				Data URL
			</th>
		</tr>
		<% for c in @contents %>
		<tr>
			<% the_ticker = c.asset.symbol + c.depth.to_s %>
			<td><%= the_ticker %></td>
			<% the_name = c.asset.name.to_s + ' Continuous Contract Index: ' + c.depth.to_s + ' (' + the_ticker + ')' %>
			<td><%= the_name %></td>
			<td><%= 'Continuous future contract daily closing prices in $USD. Contract: ' + c.asset.name.to_s + ', ' + c.depth.to_s + ' contract(s) before maturity. Continuous contract determined based on futures data scraped daily from Yahoo! Finance.' %></td>
			<td><%= link_to cfc_url(c),cfc_url(c) %></td>
		</tr>
		<% end %>
	</table>
</div>
<div class='footer'></div>
</div>