<!DOCTYPE html>
<html>
<head>
  <title>OFDP</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		<%= render 'shared/header' %>
	<div class='page-content'>
		
<%= yield %>

	</div>
	<div class='footer'></div>
	</div>
</body>
</html>
